* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: red;
}

li {
    font-size: large;
}

/* --- */

.navbar {
    background-color: lightblue !important;
}

.navbar-nav .nav-link {
    font-weight: semi-bold;
    color: black;
}

.navbar-nav .nav-link.active {
    color: grey; 
}

.blog-post {
    margin-bottom: 50px;
}